# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Copy - Paste aus anderem arduino-esp32 Projekt
tools/xtensa-esp32-elf
tools/xtensa-esp32s2-elf
tools/riscv32-esp-elf
tools/dist
tools/esptool
tools/esptool.exe
tools/mkspiffs
tools/mklittlefs
.DS_Store
 
	#Ignore files built by Visual Studio/Visual Micro
	[Dd]ebug*/
	[Rr]elease*/
	.vs/
	__vm/
	*.vcxproj*
	.vscode/
	platform.sloeber.txt
	boards.sloeber.txt
	tools/mklittlefs
